
@media screen and (max-device-width: 3000px){
	#chat_output_html{
	width: 10vw;
	height: 200px;
	resize: none;
	margin-right: 0px;
	}


	#chat_input_html{
	width: 10vw;
	height: 30px;
	resize: none;
	margin-right: 0px;
	}
	
	#main_canvas_html{
	width: calc(87vw - 4px);
	height: 95vh;
	resize: none;
	margin: 10px;
	float: left;
	}
	
	#command_output_html{
	width: 10vw;
	height: 200px;
	resize: none;
	margin-right: 0px;
	}


	#command_input_html{
	width: 10vw;
	height: 30px;
	resize: none;
	margin-right: 0px;
	}
}



@media screen and (max-device-width: 900px){
	#websocket_connection_html{
	width: 20vw;
	height: 6vw;
	resize: none;
	font-size: 4vw;
	}
	
	#chat_output_html{
	width: 85vw;
	height: 40vw;
	resize: none;
	font-size: 5vw;
	margin: 10px;
	}


	#chat_input_html{
	width: 85vw;
	height: 10vw;
	resize: none;
	font-size: 5vw;
	margin: 10px;
	}
	
	#chat_send_html{
	width: 30vw;
	height: 6vw;
	resize: none;
	font-size: 4vw;
	}
	
	#command_output_html{
	width: 85vw;
	height: 40vw;
	resize: none;
	font-size: 5vw;
	margin: 10px;
	}


	#command_input_html{
	width: 85vw;
	height: 10vw;
	resize: none;
	font-size: 5vw;
	margin: 10px;
	}
	
	#command_send_html{
	width: 30vw;
	height: 6vw;
	resize: none;
	font-size: 4vw;
	}
	
	#main_canvas_html{
	width: 90vw;
	height: 80vh;
	resize: none;
	margin: 10px;
	}

}

